---
waltz:
  title: Verification
  resource: page
  published: false
layout: page
title: Verification
permalink: /verification/
---
## Welcome to the UD CIS Department!

To get up and running with the UD CIS Discord server, you'll need to complete a few steps to get verified with us. 

1. **Accept your invite to the server.**
    * In the welcome email, there is a link to get onto the server and a hash code. If you are reading this before the first day of classes,
    please wait patiently for our onboarding process to begin (typically the day before classes officially begin). Otherwise, if you did not receive a welcome email, 
    you can request one [here](https://docs.google.com/forms/d/e/1FAIpQLScvT1qb8yh2W8T2D1JK-QK_kaENRfg9UfXXV1YWQHydVg0d6g/viewform?usp=sf_link). Once you click the link, if you already have a Discord account you should log into it and proceed to the server. If you don't have a Discord account, you will need to [create one.][30]
2. **Getting Verified.**
    * Once on the server, you'll need to follow the instructions given in the <span style="color:#7289DA">#getting-verified</span> channel. After you do that, 
    you will gain access to the full server!

If you have any problems with the above steps, please contact one of the guild's maintainers at
**[leochen@udel.edu][32] | [matthewn@udel.edu][33] | [sbrugel@udel.edu][34]**

   [30]: https://discord.com/register
   [31]: https://canvas.instructure.com/courses/2510334/files/124088926/preview?verifier=VMd62xM4U5qKtQeGPctJsjmUBQSOVZq6p7JYQzWw
   [32]: mailto:leochen@udel.edu
   [33]: mailto:matthewn@udel.edu
   [34]: mailto:sbrugel@udel.edu
