---
waltz:
  title: Verification
  resource: page
  published: false
layout: page
title: Verification
permalink: /verification/
---
## Welcome to the UD CIS Department!

To get up and running with the UD CIS Discord server, you'll need to complete a few steps to get verified with us. If you need a visual walkthrough, there's a quick video [here!](https://youtu.be/eGIBm0lFTLw)

1. **Accept your invite to the gateway server.**
    * In the welcome email, there is a link to get onto the gateway server and a hash. If you did not receive a welcome email, you can request one [here](https://docs.google.com/forms/d/e/1FAIpQLScvT1qb8yh2W8T2D1JK-QK_kaENRfg9UfXXV1YWQHydVg0d6g/viewform?usp=sf_link). Once you click the link, if you already have a Discord account you should log into it and proceed to the server. If you don't have a Discord account, you will need to [create one.][30]
2. **Message your hash to Sage.**
    * Once on the gateway server, you'll need to message the hash from the welcome email to our custom bot, Sage. Right click on Sage's name on the right side of the screen and select **Message.** You'll be taken to a DM thread where you can copy **only** your hash and send it. 
    * If on mobile: tap this icon on the top right of your screen:![memberList.png][31] and tap on Sage's name. Then tap **Message** and send your hash as directed above. 
3. **Join the main server.**
   * After you send your hash, Sage will reply with an invite to the main server. Click **Join** to accept, at which time you'll be directed to the welcome page of our shiny UD CIS Discord server!

If you have any problems with the above steps, please contact one of the server's maintainers at
**[joshlyon@udel.edu][32] | [briross@udel.edu][34]**

   [30]: https://discord.com/register
   [31]: /assets/icons/memberListIcon.png
   [32]: mailto:joshlyon@udel.edu
   [34]: mailto:briross@udel.edu